*{
  margin: 0;
  padding: 0;
}

.App{
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #D5D9E4;
  display: flex;
  flex-direction: column;
}
.nav {
  position: relative;
  margin: 10px;
  width: auto;
  height: 10vh;
  background-color: #F0F1F3;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #837ec0;
}

.tobeChecked{
  margin: 10px;
  width: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #F0F1F3;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  color: #837ec0;
}